body{
    background-color: black !important;
}

h1 {
    font-size: 50px;
    color: #264653;
    animation: fadeInScale 1s ease-in-out;
    font-size: 50px!important;
    font-style: italic !important;
}